body{
    background-color:#d4eecd;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    color: black;
}

#container{
    display: flex;
    justify-content: center;
}

#pictures{
    width: 500px;
}

.btn{
    background-color:#00ff62a1;
    color: white;
    font-size: 30px;
    font-family: 'Bricolage Grotesque', sans-serif;
    border: none;
}